---
import { Cart } from "./Cart";
const themes = [
	"light",
	"dark",
	"cupcake",
	"bumblebee",
	"emerald",
	"corporate",
	"synthwave",
	"retro",
	"cyberpunk",
	"valentine",
	"halloween",
	"garden",
	"forest",
	"aqua",
	"lofi",
	"pastel",
	"fantasy",
	"wireframe",
	"black",
	"luxury",
	"dracula",
	"cmyk",
	"autumn",
	"business",
	"acid",
	"lemonade",
	"night",
	"coffee",
	"winter",
	"armada",
];
---

<div class="navbar bg-primary">
	<a class="btn btn-ghost normal-case text-xl text-primary-content"
		>eCommerce!</a
	>
	<div class="flex justify-between flex-1 px-2">
		<!-- left-aligned nav items -->
		<div class="flex items-stretch">
			<div class="dropdown dropdown-end">
				<label
					tabindex="0"
					class="btn m-1 hover:scale-x-105 bg-secondary text-secondary-content"
					>Theme</label
				>
				<ul
					tabindex="0"
					class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52 max-h-96"
				>
					{
						themes.map((theme) => (
							<li>
								<button
									data-set-theme={theme}
									data-theme={theme}
									class="bg-base-100 text-base-content font-bold"
								>
									{theme}
								</button>
							</li>
						))
					}
				</ul>
			</div>
		</div>
		<!-- right-aligned nav items -->
		<div class="flex items-stretch">
			<Cart client:load />
		</div>
	</div>
</div>
