---
const themes = [
	"light",
	"dark",
	"cupcake",
	"bumblebee",
	"emerald",
	"corporate",
	"synthwave",
	"retro",
	"cyberpunk",
	"valentine",
	"halloween",
	"garden",
	"forest",
	"aqua",
	"lofi",
	"pastel",
	"fantasy",
	"wireframe",
	"black",
	"luxury",
	"dracula",
	"cmyk",
	"autumn",
	"business",
	"acid",
	"lemonade",
	"night",
	"coffee",
	"winter",
	"armada",
];
---

<div class="navbar bg-base-200">
	<a class="btn btn-ghost normal-case text-xl">eCommerce!</a>
	<div class="dropdown">
		<label tabindex="0" class="btn m-1 hover:scale-x-105 bg-primary"
			>Theme</label
		>
		<ul
			tabindex="0"
			class="dropdown-content menu p-2 shadow bg-base-200 rounded-box w-52 max-h-96"
		>
			{
				themes.map((theme) => (
					<li>
						<a
							data-set-theme={theme}
							data-theme={theme}
							class="bg-base-100 text-base-content font-bold bg-gradient-to-r from-bg-primary via-bg-secondary to-bg-accent"
						>
							{theme}
						</a>
					</li>
				))
			}
		</ul>
	</div>
</div>
